.page-section {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 50px;
}

.tab-navigation {
    text-align: center;
}

.tab-head {
    text-align: center
}

mat-form-field.mat-form-field {
    font-size: 16px;
    color: #95c11f
}
