<div class="body-content">
    <div class="form">
        <div class="login">
            <h4 class="card-heading" style="text-align:center;font-weight:bold;color:black"> <br>
                <p id="l1">Accedi a <a style="color:#95c11f">ByeByeCoda</a></p>
                <p style="font-weight:normal" id="l2">Elimina le attese, <br> organizza le tue visite <br> sfruttando sconti e promozioni.</p>
                <br>
            </h4>
            <login-form></login-form>
        </div>
    </div>
</div>