<div id="site-container">
    <!-- Header -->
    <div id="header">

    </div>
    <!-- Header -->
    <!-- Body Content -->
    <div id="body-content">
        <!-- Section -->
        <div class="page-section">
            <div class="container">
                <h4 class="card-heading" style="text-align: center; font-weight: bold; color:black;" id="h1">Benvenuto in <a style="color: #95c11f">ByeByeCoda</a><a>.</a></h4>
                <div class="card">
                    <div class="card-content pt-20 pb-20" style="margin-top: 20px">
                        <p class="mt-10 intro-btn" id="h3">Vuoi prenotare una visita futura in un punto convenzionato?</p>
                        <a routerLink="/cerca" class="btn btn-primary has-icon" id="h4">CERCA PUNTO</a>
                        <hr class="medium-line">
                        <p class="intro-btn" id="h5">Sei già davanti a un punto convenzionato e vuoi prendere il primo PASS disponibile?</p>
                        <a id="change" routerLink="/qrcode" class="btn btn-primary has-icon"><span class="btn-icon qrcode-icon icon-block"></span>SCANSIONA QRCODE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>